@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: cyberpunk --default, dark --prefersdark, halloween, aqua;
}
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-display: "Oswald", sans-serif;
  --font-title:"Alex Brush", cursive;
}
